In [7]:
import numpy as np
import pandas as pd
from sklearn.metrics import (accuracy_score, average_precision_score, f1_score,
                             roc_auc_score)

In [4]:
true = pd.read_csv("true_nci.csv", index_col=0)
pred = pd.read_csv("pred_nci.csv", index_col=0)

In [5]:
true

,0,1,2,3,4,5,6,7,8,9,...,10766,10767,10768,10769,10770,10771,10772,10773,10774,10775
0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0
1,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,...,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,NaN,NaN
3,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,...,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,NaN,NaN
4,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN

In [6]:
pred

,0,1,2,3,4,5,6,7,8,9,...,10766,10767,10768,10769,10770,10771,10772,10773,10774,10775
0,0.643204,0.798411,0.446049,0.272673,0.866866,0.878183,0.970488,0.723905,0.963083,0.901725,...,0.483867,0.887659,0.329382,0.856464,0.430774,0.389049,0.843414,0.532585,0.641342,0.411156
1,0.903063,0.776106,0.342068,0.716771,0.741778,0.304981,0.379806,0.186625,0.177862,0.934791,...,0.903282,0.399063,0.519110,0.692392,0.626204,0.911895,0.879603,0.742280,0.862250,0.483308
2,0.831969,0.386310,0.732059,0.510853,0.900194,0.892883,0.918730,0.929859,0.639464,0.652237,...,0.967015,0.939371,0.261971,0.948511,0.637613,0.516846,0.948832,0.836229,NaN,NaN
3,0.734377,0.584339,0.932337,0.937252,0.165214,0.751579,0.594709,0.119589,0.827443,0.206793,...,0.755121,0.376471,0.973146,0.966195,0.333264,0.409973,0.567322,0.832578,NaN,NaN
4,0.964880,0.943880,0.316500,0.795033,0.936535,0.959104,0.339313,0.667871,0.578210,0.378678,...,0.944983,0.857682,0.808797,0.172040,0.537649,0.245672,0.974277,0.737364,NaN,NaN

In [10]:
for
    true_labels = true.loc[0].dropna()
    pred_values = pred.loc[0].dropna()
    pred_labels = np.round(pred_values)
    metrics = {
        'ACC': accuracy_score(true_labels, pred_labels),
        'AUROC': roc_auc_score(true_labels, pred_values),
        'AUPR': average_precision_score(true_labels, pred_values),
        'F1': f1_score(true_labels, pred_labels)
    }

In [16]:
true.loc[4].dropna()

0        1.0
1        1.0
2        1.0
3        0.0
4        0.0
        ...
10769    1.0
10770    1.0
10771    1.0
10772    1.0
10773    1.0
Name: 4, Length: 10774, dtype: float64