In [2]:
import numpy as np
import pandas as pd
import sys
from pathlib import Path
import os

current_dir = Path(os.getcwd())
sys.path.append(str(current_dir.parent))  # 1階層上を追加

from metrics import get_result

/tmp/ipykernel_2499359/3196498578.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
res = pd.DataFrame()
for i in ["nci", "gdsc1", "gdsc2", "ctrp"]:
    true = pd.read_csv(f"true_{i}.csv", index_col=0)
    pred = pd.read_csv(f"pred_{i}.csv", index_col=0)
    res = pd.concat([res, get_result(true, pred, i)], axis=1)

In [4]:
res.T

,ACC,Precision,Recall,Specificity,F1,F2,Balanced ACC,G-Mean,AUROC,AUPR,LogLoss,Brier,MCC,Kappa,Youden J,Cost Ratio
NCI,0.570 (± 0.005),0.599 (± 0.014),0.425 (± 0.054),0.715 (± 0.053),0.495 (± 0.031),0.450 (± 0.046),0.570 (± 0.005),0.549 (± 0.013),0.606 (± 0.008),0.600 (± 0.011),0.675 (± 0.002),0.241 (± 0.001),0.146 (± 0.010),0.139 (± 0.010),0.212 (± 0.016),1.048 (± 0.089)
GDSC1,0.815 (± 0.002),0.949 (± 0.004),0.666 (± 0.006),0.964 (± 0.003),0.783 (± 0.003),0.709 (± 0.005),0.815 (± 0.002),0.802 (± 0.003),0.937 (± 0.002),0.941 (± 0.002),0.435 (± 0.005),0.136 (± 0.002),0.661 (± 0.003),0.631 (± 0.004),0.874 (± 0.004),2.847 (± 0.045)
GDSC2,0.806 (± 0.003),0.968 (± 0.002),0.633 (± 0.006),0.979 (± 0.001),0.765 (± 0.005),0.680 (± 0.006),0.806 (± 0.003),0.787 (± 0.004),0.934 (± 0.009),0.941 (± 0.007),0.469 (± 0.011),0.145 (± 0.003),0.652 (± 0.006),0.612 (± 0.007),0.868 (± 0.018),2.637 (± 0.048)
CTRP,0.815 (± 0.002),0.869 (± 0.003),0.741 (± 0.004),0.888 (± 0.003),0.800 (± 0.002),0.764 (± 0.003),0.815 (± 0.002),0.812 (± 0.002),0.896 (± 0.002),0.897 (± 0.002),0.430 (± 0.003),0.136 (± 0.001),0.637 (± 0.004),0.630 (± 0.004),0.792 (± 0.004),3.361 (± 0.048)

In [5]:
pd.read_csv(f"true_{i}.csv", index_col=0)

,0,1,2,3,4,5,6,7,8,9,...,43808,43809,43810,43811,43812,43813,43814,43815,43816,43817
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0